body{
font-family:Arial;
margin:0;
background:#f4f6f8;
}

.login-box{
width:300px;
margin:120px auto;
padding:30px;
background:white;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
padding:10px;
width:100%;
background:#0077ff;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.sidebar{
width:220px;
height:100vh;
background:#111;
color:white;
padding:20px;
position:fixed;
}

.content{
margin-left:240px;
padding:40px;
}